<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesAbout.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav-bar">
    <a class="home" href="/home">Home</a>
    <a class="works" href="/works">Works</a>
    <a class="photogallery" href="/photogallery">Photo Gallery</a>
    
</nav>
    <div class="container">
      <img src="c.tangana.about.webp" class="about-img" />
    </div>

    <div class="container-text">
      <h1>"El Madrileño" — the man from Madrid.</h1>

      <h4>
        That's the easiest way to describe Antón Álvarez Alfaro, who performs as
        C. Tangana.
      </h4>

      <!-- But it's also the title of his 2021 album — an ambitious musical journey across <br>
            <br>            
            generations, genres, and lyrical traditions that earned him a 2022 Grammy nomination for 
            <br>
            <br> Best Latin Rock or Alternative Album.
            <br>
            <br>There are hints of tango, urbano, rock , Spanish copla 
            <br>
            <br>— and they're all seamlessly brought together by Tangana's 
            <br>
            <br> modern approach to the rich musical heritage that shaped his worldview.</p> -->

      <p>
        Antón Álvarez Alfaro (born July 16, 1990), known professionally as C.
        Tangana, is a Spanish rapper and songwriter.
        <br />
        <br />
        He began his musical career while in high school, rapping under the
        pseudonym Crema and releasing a seven-track EP titled Él Es Crema
        (2005).
        <br />
        <br />
        He gained recognition in Spain as a member of the band Agorazein. In
        2016, Tangana began performing as a solo act under the stage name C.
        Tangana.
        <br />
        <br />
        After releasing a number of singles in 2016, including "Lo Hace
        Conmigo", "Los Chikos de Madriz" and "Antes de Morirme", Tangana
        attained mainstream success in Spain with the release of "Mala Mujer",
        later included in his debut studio album Ídolo (2017).
        <br />
        <br />
        He continued to explore urbano and hip hop music on his mixtape Avida
        Dollars (2018), which spawned the top twenty single "Llorando en la
        Limo".
        <br />
        <br />
        Tangana continued to release standalone singles to commercial success
        such as "Bien Duro", "Booty" and "Nunca Estoy".
        <br />
        <br />
        He experimented with flamenco and Latin music on his second studio album
        El Madrileño (2021), which was nominated for the Premio Ruido and
        received a Latin Grammy Award for Album of the Year.
        <br />
        <br />
        El Madrileño became the best-selling album in Spain in 2021.
        <br />
        <br />
        Throughout his career, C. Tangana has won nine Latin Grammy Awards as
        songwriter and as performer, two Premios Odeón and a LOS40 Music Award
        among others. He has also been nominated for a Grammy Award, two MTV
        Europe Music Awards and two UK Music Video Awards.
        <br />
        Tangana's outspoken political views have received significant media
        coverage.
        <br />
        Considered a controversial musical figure within the Spanish industry,
        he has been accused of proliferating sexist conducts through his lyrics.
        <br />
        He has also been accused of being a "sellout" by colleague rappers. His
        pesimistic view on representative democracy, the monarchy and the
        Spanish royal family and his high-profile relationship with Rosalía,
        have also been topics of media attention.
      </p>
    </div>
  </body>
</html>
