<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesHome.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
   <div class="top-left-text">
    <!-- <h1>Discover</h1> -->
    <a class="about" href="/about">About</a>
    <a class="works" href="/works">Works</a>
    <a class="photogallery" href="/photogallery">Photo Gallery</a>
   
</div>
    
  <img src="tanganaBackground.jpeg" class="background-img" />

    

   
</div>

    
    
   
    
    
</body>
</html>