<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesPhotoGallery.css">
    <title>Document</title>
</head>
<body>
    
    <nav class="nav-bar">
        <a class="home" href="/home">Home</a>
        <a class="about" href="/about">About</a>
        <a class="works" href="/works">Works</a>
        
      </nav>

      <img class="img1" src="c.tangana.png" />
      <img class="img2" src="araTangana.webp" />
      <img class="img3" src="yate.jpeg" />


       
</body>
</html>