<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="stylesWorks.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav-bar">
      <a class="home" href="/home">Home</a>
      <a class="about" href="/about">About</a>
      <a class="photogallery" href="/photogallery">Photo Gallery</a>
      
    </nav>

    <h1 class="title">Discover C.Tangana</h1>

    <iframe
      class="demasiadasMujeres"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ZlFri4ez_lE"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      class="ingobernable"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/uV0r4a2QVkQ"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>

    <iframe
      class="llamarTuAtención"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/d0oLWETQS4s"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
    
    <iframe class="tranquilissimo"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/ECZ7p_YyRao"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    ></iframe>
  </body>
</html>
